<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <h1>＝chat board＝</h1>
  <%= link_to('トップ','/') %>
  <%= link_to('ユーザー一覧','/user/index') %>
  <%= link_to('掲示板','/chat/index') %>
</div>
<%= yield %>

</body>
</html>
